body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.section1 {
  height: 500px;
  background-color: #ccc;
}

.section2 {
  height: 650px;
  background-color: #ddd;
}

.section3 {
  height: 400px;
  background-color: #eee;
}
